%h1= @task.title
%p= @task.description
%p= @task.company

= link_to "Inicio", root_path
= link_to "Editar", edit_task_path(@task)
= link_to "Eliminar", task_path(@task), method: :delete, data: { confirm: "¿Estás seguro?" }
